version: '3'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    environment:
      - WEBSOCKET_ENABLED=true                  # Enable WebSocket notifications.
    volumes:
      - ./vw-data:/data
    ports:
      - 8080:80                                 # Change this
